.board {
    display: flex;
    flex-wrap: wrap;
    --widthA: calc(20vw);
    width: var(--widthA);
    height: var(--widthA);
    border: 2px solid black;
    margin: 40px;
    position: fixed;
    top: 20%;
}

.first {
    left: calc(5%);
}

.second {
    left: calc(27%);
}

.third {
    left: calc(49%);
}

.fourth {
    left: calc(71%)
}
/* #container {
    position: fixed;
    left: calc(50% - 152px);
    top: 50px;
} */

.square {
    width: calc(25%);
    height: calc(25%);
    display: inline;
    border: 1px solid black;
    text-align: center;
    font-size: calc(3vw);
    cursor: pointer;
}

.ix {
    color: red;
}

.igul {
    color: blue;
}

#turn {
    position:fixed;
    left: calc(50% - 35px);
    top: 10px;
    font-size: 30px;
}

.winmessage {
    position: fixed;
    left: calc(40%);
    bottom: calc(30%);
    font-size: 50px;
    font-style: italic;
    color: goldenrod;
}

.winButton {
    position: fixed;
    left: calc(50% - 50px);
    bottom: calc(20%);
}